<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.my_erp.dao.TitleMapper">
	
	<resultMap type="Title" id="TitleResult">
		<id property="tCode" column="tcode"/>
		<result property="tName" column="tname"/>
	</resultMap>
	
	<insert id="insertTitle" parameterType="Title">
		insert into title (tcode, tname) values(#{tCode}, #{tName})
	</insert>
	<update id="updateTitle" parameterType="Title">
		UPDATE title set
		tname = #{tName} where tcode = #{tCode}
	</update>
	<delete id="deleteTitle" parameterType="Title">
		delete from title where tcode = #{tCode}
	</delete>
	<select id="selectTitle" parameterType="Title" resultMap="TitleResult">
		select tcode, tname from title where tcode = #{tCode}
	</select>
	<select id="selectByAll" parameterType="Title" resultMap="TitleResult">
		select tcode, tname from title
	</select>
	<select id="selectLastNum"  resultType="int">
		select max(tcode) from title
	</select>
</mapper>